@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<br/>

<p>
    Online Library Management features like taking book by students, add new book, Edit Book List, Print Report and Related features. 
</p>

