@{
    ViewBag.Title = "Contact";
}
<h2>Library Management System</h2>

<address>
    Dewanhat, DoubleMooring, Chattogram
    <br />
    LinkedIn: https://www.linkedin.com/in/masum-mkh-1880b2179/
</address>

